@font-face {
    font-family: customfont;
    src=url(WolvesRuin.ttf);
}

body {
    background-color: white;
}
h1 {
    color: black;
    font-family: 'Frijole';
    display: flex;
    justify-content: center;
}
p {
    color: black;
}
a {
    text-decoration : none;
}

.hmpg-bttn {
    margin: 0 auto;
    display: block;
}

/* STYLE BUTTON */
button { 
    margin-top: 5px;
    width: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
  
    background-color: #428df5;
    border: none;
    font-size: 15px;
    font-family: 'Inconsolata', monospace;
    cursor: pointer;
    border-radius: 4px;
  
    //box-shadow: inset 0 0 0 0 #c2dbff/*#FFED66*/;
    transition: ease-out 0.3s;
    outline: none;
    position: relative;
    z-index: 1;
    /*border: solid;
    border-color: #428df5;*/
  
  }
  
  button:hover{
    cursor: pointer;
    //box-shadow: inset 350px 0 0 0 #c2dbff;
    //background-color: #c2dbff;
    /*border: solid;
    border-color: #c2dbff;*/ 
  }
  
  button:before{
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    background-color: #c2dbff;
  }
  
  button:hover:before{
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
  }

/* button {
    background-color: white;
    width: 200px;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 3px solid black;
    color:black;
    cursor: pointer;
    margin-top: 670px;
} */

.button1 {
    margin-left: 550px;
}

.button2 {
    margin-left: 10px;
}
