body {
    background-color: white;
}
h1 {
    color: black;
    font-family: 'Frijole';
    display: flex;
    justify-content: center;
}
p {
    color: black;
}
a {
    text-decoration : none;
}

button {
    display: flex;
    justify-content: center;
}
/* button {
    background-color: white;
    width: 200px;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 3px solid black;
    color:black;
    cursor: pointer;
    margin-top: 670px;
} */

.button1 {
    margin-left: 550px;
}

.button2 {
    margin-left: 10px;
}