body {
    background-color: white;
}
h1 {
    color: black;
}
p {
    color: black;
}
button {
    background-color: blue;
    width: 200px;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 3px solid black;
    color: white;
    cursor: pointer;

    .button1 {
        position: absolute;
        top: 800px;
        right: 960px;

    }

    .button2 {
        position: absolute;
        top: 800px;
        right: 960px;
    }
}
